* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Navbar {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-shadow: 0px 0px 15px 0px #0000003c;
}

.Logo {
    background-image: url(../img/logo.png);
    width: 2.5em;
    height: 3em;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.Nav_List {
    height: 3em;
    width: 50%;
}

.List {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.List_Item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.List_Item:hover {
    color: rgba(231, 84, 21, 0.893);
    transition: all 0.4s;
}